.block-type-content div.entry-content,.block-type-content div.entry-content p{color:#555555;font-size:14px;line-height:180%;}
           #block-bwi56facbb9c0103 div.entry-content,#block-bwi56facbb9c0103 div.entry-content p{font-family:Raleway;font-size:18px;}
           .block-type-content div.entry-content h3,.block-type-content div.entry-content h2,.block-type-content div.entry-content h1{font-size:20px;line-height:180%;}.block-type-content div.entry-content h4,.block-type-content div.entry-content h5{font-size:16px;line-height:180%;}.block-type-content div.entry-content a.more-link{background-color:#eeeeee;text-decoration:none;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding-top:2px;padding-right:6px;padding-bottom:2px;padding-left:6px;}
           .block-type-content div.entry-content a.more-link:hover{background-color:#e7e7e7;}
           .block-type-content div.loop-navigation div.nav-previous a,.block-type-content div.loop-navigation div.nav-next a{background-color:#e1e1e1;text-decoration:none;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding-top:4px;padding-right:8px;padding-bottom:4px;padding-left:8px;line-height:130%;}.block-type-content div.loop-navigation div.nav-previous a:hover,.block-type-content div.loop-navigation div.nav-next a:hover{background-color:#d5d5d5;}
.block-type-content a.post-thumbnail img{border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-color:#eeeeee;border-style:solid;padding-top:3px;padding-right:3px;padding-bottom:3px;padding-left:3px;}
.block-type-content div#comments h3{color:#333333;font-size:18px;line-height:130%;}
.block-type-content li.comment{padding-left:64px;}
.block-type-content li.comment .comment-author{font-size:18px;line-height:120%;}
.block-type-content li.comment .comment-meta{color:#888888;font-size:14px;}
.block-type-content li.comment .comment-body p{font-size:14px;line-height:170%;}
.block-type-content a.comment-reply-link{font-size:12px;background-color:#eeeeee;text-decoration:none;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding-top:3px;padding-right:6px;padding-bottom:3px;padding-left:6px;}.block-type-content a.comment-reply-link:hover{background-color:#e7e7e7;}.block-type-content div#respond label{font-size:14px;line-height:220%;color:#888888;}.block-type-slider .flexslider{overflow:visible;margin-bottom:30px;}.block-type-slider .flex-viewport{overflow:hidden;}.block-type-slider .flex-caption{background-color:rgba(0,0,0,0.6);color:#ffffff;font-size:14px;line-height:150%;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;position:absolute;text-align:center;}.block-type-slider .flex-control-nav{position:absolute;text-align:center;}.block-type-slider .flex-direction-nav a{margin-top:-20px;position:absolute;background-image:url(../../../themes/headway/library/blocks/slider/assets/bg_direction_nav.png)/*tpa=http://www.cochabamba2018.bo/wp-content/themes/headway/library/blocks/slider/assets/bg_direction_nav.png*/;background-repeat:no-repeat;background-position:left top;}.block-type-slider .flex-direction-nav a.flex-next{background-position:right top;}.block-type-slider .flex-control-paging li a{background-color:rgba(0,0,0,0.5);border-top-left-radius:20px;border-top-right-radius:20px;border-bottom-right-radius:20px;border-bottom-left-radius:20px;margin-left:2px;margin-right:2px;}.block-type-slider .flex-control-paging li a:hover{background-color:rgba(0,0,0,0.7);}.block-type-slider .flex-control-paging li a.flex-active{background-color:rgba(0,0,0,0.9);}.block-type-text .entry-content h3,.block-type-text div.entry-content h2,.block-type-text div.entry-content h1{font-size:20px;line-height:180%;}.block-type-text .entry-content h4{font-size:16px;line-height:180%;}.block-type-footer{border-top-width:1px;border-right-width:0px;border-bottom-width:0px;border-left-width:0px;border-color:#eeeeee;border-style:solid;}.block-type-footer p.copyright{color:#666666;}.block-type-footer p.footer-headway-link{color:#666666;}.block-type-footer a.footer-admin-link{color:#666666;}.block-type-footer a.footer-go-to-top-link{color:#666666;}.block-type-footer a.footer-responsive-grid-link{color:#666666;}#block-bnp56f94266595d1{margin-top:0px;margin-bottom:0px;padding-top:0px;padding-bottom:0px;padding-right:0px;padding-left:0px;}#block-bp156f9843d35f1e{margin-top:0px;margin-bottom:0px;padding-top:0px;padding-left:0px;padding-bottom:0px;padding-right:0px;}#block-bro56f9b0c950648{border-color:#DDDDDD;border-style:solid;border-left-width:1px;border-right-width:1px;}#block-byp56f9b0ede0f59{margin-top:0px;padding-top:0px;border-color:#DDDDDD;border-style:solid;border-top-width:1px;border-left-width:1px;border-bottom-width:1px;border-right-width:1px;}#block-blw56fa8e7c0d3e2{margin-top:-20px;padding-top:0px;}.cabecerahome{height:216px;margin-bottom:40px;}.cabecerahome1{background:url("/img/deportes/logo-1.png")/*tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/logo-1.png*/ no-repeat;width:360px;height:220px;margin-left:80px;position:relative;z-index:5;margin-top:px;}.cabecerahome1 img{display:block;margin:auto;}.menuhome{background-color:rgba(0,0,0,.5);position:absolute;top:168px}.menuhome a{color:#fff !important;font-weight:bold;height:50px !important;padding-top:8px !important;}.menuhome ul li ul li a{color:#fff !important;font-weight:bold;background-color:rgba(0,0,0,.5);}.cabecerahome2{margin:20px 20px 0px 0px;}.cabecerahome2 img{height:20px;margin-right:10px ;transition:0.5s;display:block;float:right;}.cabecerahome2 img:hover{background-color:#2EA2CC;padding:2px;border-radius:5px;}.publicidad1{border:1px solid #EF8E00;border-radius:16px;padding:5px;margin-left:20px;}.publicidad1a{background:#EF8E00;color:#fff;width:370px;padding:10px 0px 0px 10px;margin:18px 0px -20px 17px;border-radius:10px 10px 0px 0px;}.publicidad1a h3{text-align:center;font-size:14px;}.publicidad1a h4{text-align:center;font-size:18px;}.darth-dashboard{width:360px !important;}.cloud-city-dashboard{background:#EF8E00 !important;border-radius:10px;font-size:10px;height:65px !important;width:380px !important;float:right;margin-top:10px !important;padding-top:0px !important;font-weight:600 !important;}.cloud-city-dash_title{position:relative !important;color:#000 !important;background:#EF8E00 !important;font-size:12px !important;margin-bottom:5px !important;}.cloud-city-digit{background:#EF8E00 !important}.titulonoticiaslider{color:#fff;text-decoration:none;}.titulonoticiaslider:hover{color:#EF8E00;}.titulonoticiashome{width:100%;overflow:hidden;padding-top:80px;padding-bottom:10px;}.titulonoticiashome2{width:41%;float:left;}.titulonoticiashome h1{font-size:60px;font-weight:600;text-align:center;margin-top:12px;}.titulonoticiashome h3{font-size:16px;font-weight:600;line-height:30px;text-align:center;margin-top:10px;}.titulonoticiashome1,.titulonoticiashome3{background:url("/img/deportes/titulo-adicional1.png")/*tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/titulo-adicional1.png*/;width:350px;height:70px;float:left;}.pieredesociales{border:1px solid #ddd;overflow:hidden;}.pieredesociales1 a{text-decoration:none;padding:15px 0px 15px 0px;display:block;color:#000;text-align:center;float:left;width:49.6%;border-right:1px solid #ddd;}.pieredesociales2 a{text-decoration:none;padding:15px 0px 15px 0px;display:block;color:#000;text-align:center;float:left;width:50%;}.pieredesociales1 a:hover{background-color:#2EA2CC;color:#fff !important;}.pieredesociales2 a:hover{background-color:#2EA2CC;color:#fff !important;}.titulodelwidget img{width:100%;margin-top:-10px;}#block-bzu56f9b18cde17a{margin-top:-15px !important;}.titularsliderhomepost{text-align:center !important;}.tituloslidergaleria a{color:#fff;background-color:#67AC4A;padding:10px 0px 10px 0px !important;text-align:center !important;font-size:20px !important;text-decoration:none;display:block;}.tituloslidergaleria a:hover{background-color:#2EA2CC;text-decoration:none;}.galeriahome1{margin-top:40px;max-width:1200px;margin-left:auto;margin-right:auto;overflow:hidden;}.galeriahome1 hr{border:0px;height:1px;background-color:#ddd;margin-top:60px;}.galeriahome1 h1,.galeriahome2 h1{text-align:center;font-size:32px;font-weight:600;color:#67AC4A;margin-bottom:20px;margin-top:40px;}.galeriahome1 h3,.galeriahome2 h3{text-align:center;font-size:20px;font-weight:600;color:#EE7600;margin-bottom:40px;}.vermashome{color:#ffffff;background-color:#000;text-decoration:none;text-align:center;display:block;width:150px;padding:10px 0px 10px 0px;margin:20px auto;}.vermashome:hover{background-color:#EE7600;}.galeriahome2a{overflow:hidden;}.tituloslidergaleria1 a{color:#fff !important;text-decoration:none;font-size:20px !important;border:1px solid #fff !important;padding:15px 30px !important;font-weight:600 !important;}.tituloslidergaleria1 a:hover{background-color:#EE7600;}.galeriahome3{width:100%;margin:auto;margin-top:80px;}.galeriahome4{background-color:#DEF0FA;padding:50px 0px;}.galeriahome4a{overflow:hidden;max-width:1200px;margin:auto;}.galeriahome4a1,.galeriahome4a2{overflow:hidden;width:49.5%;float:left;}.galeriahome4a1 img{display:block;margin:auto;}
.galeriahome4a2{padding-top:200px;}
.galeriahome4a2 h3{font-size:34px;margin-bottom:20px;text-align:left;}
.galeriahome4a2 p{font-size:22px;font-weight:600;margin-bottom:5px;}
.galeriahome5{background:url("/img/deportes/barra.jpg")
/*tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/barra.jpg*/
;width:100%;margin:auto;overflow:hidden;padding:15px 0px 15px 0px;}
.galeriahome5caja{max-width:1200px;margin:auto;}
.galeriahome5a{width:300px;float:left;}
.galeriahome5a h3{color:#fff;text-align:right;margin:40px 40px 0px 0px;}
.galeriahome5a p{color:#fff;text-align:right;margin:0px 40px 0px 0px;}
.galeriahome5b{width:200px;float:left;border-left:4px solid #777;padding-left:40px;}
.galeriahome5b p{color:#fff;}.galeriahome6{max-width:1200px;margin:auto;overflow:hidden;padding:40px 0px 15px 0px;margin-top:40px;}
.galeriahome6 h3{color:#333;text-align:left;font-size:24px;font-weight:300;}
.galeriahome4a2 a{color:#666666;text-decoration:none;font-size:22px;font-weight:600;transition:0.5s;-webkit-transition:0.5s;-moz-transition:0.5s;-o-transition:0.5s;-ms-transition:0.5s;}.galeriahome4a2 a:hover{font-size:28px;background-color:#1F9BDE;color:#fff;padding:1px 10px;border-radius:20px;}.piedepagina{height:390px;width:100%;}.piedepaginahome1{width:900px;margin:140px auto 0px auto !important;}.piedepaginahome1 ul{width:20%;float:left;}.piedepaginahome1 ul h3{color:#fff;font-weight:bold;}.piedepaginahome1 ul li{line-height:16px;}.piedepaginahome1 ul li a{color:#fff;font-size:12px;text-decoration:none;}.piedepaginahome1 ul li a:hover{font-size:16px;color:#000;}.piedepaginahome2{width:100%;float:left;padding:44px 0px 0px 65px;}.piedepaginahome2 ul li{float:left;margin-right:30px;}.piedepaginahome2 ul li a{color:#fff;text-decoration:none;font-weight:600;font-size:14px;}.imagenhistoria img{float:left;margin-left:85px;}.organizacion h1{font-size:28px !important;color:#ED7700;font-weight:600;}.organizacion h3{text-align:center;font-size:28px !important;width:600px;display:block;margin:0px auto 20px auto!important;}.organizacion1{background:url("/img/deportes/fondo-organizacion.png")/*tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/fondo-organizacion.png*/ no-repeat;width:715px;padding:90px 0px 100px 120px;margin:auto;margin-bottom:60px}
.organizacion1 p{margin-bottom:0px !important;font-size:17px !important;}
.paginanimacion{overflow:hidden;padding:5px;}
.accion{
width:1080px;height:560px;margin:auto;background:rgba(0, 0, 0, 0) url("/img/deportes/mapa_pictogrmas.png") no-repeat scroll -13px -12px;
}

.central{
   display: block;
    float: left;
    height: 175px;
    margin-left: 360px;
    margin-top: -1409px;
    position: absolute;
    width: 270px;
}
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10,.a11,.a12,.a13,.a14,.a15,.a16,.a17,.a18,.a19,.a20,.a21,.a22,.a23,.a24,.a25,
.a26,.a27,.a28,.a29,.a30,.a31,.a32,.a33,.a34,.a35,.a36,.a37,.a38,.a39,.a40,.a41,.a42,.a43,.a44,.a45,.a46,.a47,
.a48{width:80px;height:80px;position:absolute;}
.a1{margin-left:7px;margin-top:55px;}
.a2{margin-left:7px;margin-top:115px;}
.a3{margin-left:7px;margin-top:174px;}
.a4{margin-left:7px;margin-top:235px;}
.a5{margin-left:7px;margin-top:295px;}
.a6{margin-left:100px;margin-top:-151px;}
.a7{margin-left:100px;margin-top:-92px;}
.a8{margin-left:100px;margin-top:-30px;}
.a9{margin-left:100px;margin-top:28px;}
.a10{margin-left:100px;margin-top:88px;}
.a11{margin-left:192px;margin-top:-265px;}
.a12{margin-left:192px;margin-top:-203px;}
.a13{margin-left:192px;margin-top:-145px;}
.a14{margin-left:192px;margin-top:-85px;}
.a15{margin-left:192px;margin-top:-25px;}
.a16{margin-left:285px;margin-top:-472px;}
.a17{margin-left:285px;margin-top:-410px;}
.a18{margin-left:285px;margin-top:-353px;}
.a19{margin-left:285px;margin-top:-290px;}
.a20{margin-left:285px;margin-top:-230px;}
.a21{margin-left:378px;margin-top:-585px;}
.a22{margin-left:378px;margin-top:-342px;}

//.a23{margin-left:378px;margin-top:-281px;}
.a23{margin-left:470px;margin-top:-727px;}
.a24{margin-left:470px;margin-top:-390px;}
.a25{margin-left:564px;margin-top:-745px;}
.a26{margin-left:564px;margin-top:-500px;}

//.a27{margin-left:564px;margin-top:-443px;}

.a27{margin-left:658px;margin-top:-838px;}
.a28{margin-left:658px;margin-top:-779px;}
.a29{margin-left:658px;margin-top:-714px;}
.a30{margin-left:658px;margin-top:-658px;}
.a31{margin-left:658px;margin-top:-594px;}
.a32{margin-left:750px;margin-top:-949px;}
.a33{margin-left:750px;margin-top:-893px;}
.a34{margin-left:750px;margin-top:-831px;}
.a35{margin-left:750px;margin-top:-771px;}
.a36{margin-left:750px;margin-top:-710px;}
.a37{margin-left:843px;margin-top:-1160px;}

.a38{margin-left:843px;margin-top:-1100px;}
.a39{margin-left:843px;margin-top:-1039px;}
.a40{margin-left:843px;margin-top:-980px;}
.a41{margin-left:843px;margin-top:-920px;}

.a42{margin-left:936px;margin-top:-1280px;}
.a43{margin-left:930px;margin-top:-1237px;}
.a44{margin-left:936px;margin-top:-1160px;}
.a45{margin-left:936px;margin-top:-1102px;}
.a46{margin-left:936px;margin-top:-1040px;}
/*.a1:hover ~ .central{background:url("/img/deportes/p_38.png") no-repeat;background-position:center center;}
 .a2:hover ~ .central{background:url("/img/deportes/p_70.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_70.png 
 no-repeat;background-position:center center;}
 .a3:hover ~ .central{background:url("/img/deportes/p_121.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_121.png 
 no-repeat;background-position:center center;}
 .a4:hover ~ .central{background:url("/img/deportes/p_85.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_85.png
 no-repeat;background-position:center center;}
 .a5:hover ~ .central{background:url("/img/deportes/p_108.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_108.png
 no-repeat;background-position:center center;}
 .a6:hover ~ .central{background:url("/img/deportes/p_06.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_06.png
 no-repeat;background-position:center center;}
 .a7:hover ~ .central{background:url("/img/deportes/p_49.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_49.png
 no-repeat;background-position:center center;}
 .a8:hover ~ .central{background:url("/img/deportes/p_113.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_113.png
 no-repeat;background-position:center center;}
 .a9:hover ~ .central{background:url("/img/deportes/p_155.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_155.png 
 no-repeat;background-position:center center;}
 .a10:hover ~ .central{background:url("/img/deportes/p_100.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_100.png 
 no-repeat;background-position:center center;}
 .a11:hover ~ .central{background:url("/img/deportes/p_03.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_03.png
 no-repeat;background-position:center center;}
 .a12:hover ~ .central{background:url("/img/deportes/p_25.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_25.png
 no-repeat;background-position:center center;}
 .a13:hover ~ .central{background:url("/img/deportes/p_121.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_121.png
 no-repeat;background-position:center center;}
 .a14:hover ~ .central{background:url("/img/deportes/p_153-1.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_153-1.png
 no-repeat;background-position:center center;}
 .a15:hover ~ .central{background:url("/img/deportes/p_97.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_97.png
 no-repeat;background-position:center center;}
 .a16:hover ~ .central{background:url("/img/deportes/p_10.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_10.png
 no-repeat;background-position:center center;}
 .a17:hover ~ .central{background:url("/img/deportes/p_52.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_52.png 
 no-repeat;background-position:center center;}
 .a18:hover ~ .central{background:url("/img/deportes/p_94.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_94.png 
 no-repeat;background-position:center center;}
 .a19:hover ~ .central{background:url("/img/deportes/p_111.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_111.png
 no-repeat;background-position:center center;}
 .a20:hover ~ .central{background:url("/img/deportes/p_58.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_58.png
 no-repeat;background-position:center center;}
 .a21:hover ~ .central{background:url("/img/deportes/p_138.png")**********************************************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_38.png
 no-repeat;background-position:center center;}
 .a22:hover ~ .central{background:url("/img/deportes/p_147.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_147.png
 no-repeat;background-position:center center;}
 .a23:hover ~ .central{background:url("/img/deportes/p_22.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_22.png
 no-repeat;background-position:center center;}
 .a24:hover ~ .central{background:url("/img/deportes/p_19.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_19.png 
 no-repeat;background-position:center center;}
 .a25:hover ~ .central{background:url("/img/deportes/p_73.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_73.png
 no-repeat;background-position:center center;}
 .a26:hover ~ .central{background:url("/img/deportes/p_44.png")*****************************************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_44.png 
 no-repeat;background-position:center center;}
 .a27:hover ~ .central{background:url("/img/deportes/pesas_03.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/pesas_03.png
 no-repeat;background-position:center center;}
 .a28:hover ~ .central{background:url("/img/deportes/p_115.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_115.png 
 no-repeat;background-position:center center;}
 .a29:hover ~ .central{background:url("/img/deportes/p_16.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_16.png
 no-repeat;background-position:center center;}
.a30:hover ~ .central{background:url("/img/deportes/p_67.png")
tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_67.png
 no-repeat;background-position:center center;}
 .a31:hover ~ .central{background:url("/img/deportes/p_102.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_102.png
 no-repeat;background-position:center center;}
 .a32:hover ~ .central{background:url("/img/deportes/p_99.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_99.png 
 no-repeat;background-position:center center;}
 .a33:hover ~ .central{background:url("/img/deportes/p_87.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_87.png
 no-repeat;background-position:center center;}
 .a34:hover ~ .central{background:url("/img/deportes/p_41.png")****************************************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_41.png 
 no-repeat;background-position:center center;}
 .a35:hover ~ .central{background:url("/img/deportes/p_80.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_80.png 
 no-repeat;background-position:center center;}
 .a36:hover ~ .central{background:url("/img/deportes/p_132.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_132.png
 no-repeat;background-position:center center;}
 .a37:hover ~ .central{background:url("/img/deportes/p_158.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_158.png
 no-repeat;background-position:center center;}
 .a38:hover ~ .central{background:url("/img/deportes/p_142.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_142.png
 no-repeat;background-position:center center;}
 .a39:hover ~ .central{background:url("/img/deportes/p_13.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_13.png
 no-repeat;background-position:center center;}
 .a40:hover ~ .central{background:url("/img/deportes/p_64.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_64.png
 no-repeat;background-position:center center;}
 .a41:hover ~ .central{background:url("/img/deportes/p_82.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_82.png 
 no-repeat;background-position:center center;}
 .a42:hover ~ .central{background:url("/img/deportes/p_129.png")*************************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_129.png 
 no-repeat;background-position:center center;}
 .a43:hover ~ .central{background:url("/img/deportes/p_35.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_35.png
 no-repeat;background-position:center center;}
 .a44:hover ~ .central{background:url("/img/deportes/p_32.png")***************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_32.png
 no-repeat;background-position:center center;}
 .a45:hover ~ .central{background:url("/img/deportes/p_123.png") 
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_123.png
 no-repeat;background-position:center center;}
 .a46:hover ~ .central{background:url("/img/deportes/p_139.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_139.png
 no-repeat;background-position:center center;}
 .a47:hover ~ .central{background:url("/img/deportes/p_126.png")***************************************************
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_126.png 
 no-repeat;background-position:center center;}
 .a48:hover ~ .central{background:url("/img/deportes/p_168.png")
 tpa=http://www.cochabamba2018.bo/wp-content/uploads/2016/03/p_168.png 
 no-repeat;background-position:center center;}*/
 #a1,#a2,#a3,#a4,#a5,#a6,#a7,#a8,#a9,#a10,#a11,#a12,#a13,#a14,#a15,#a16,#a17,#a18,#a19,#a20,#a21,#a22,#a23,#a24,#a25,#a26,#a27,#a28,#a29,#a30,#a31,#a32,#a33,#a34,#a35,#a36,#a37,#a38,#a39,#a40,#a41,#a42,#a43,#a44,#a45,#a46,#a47,#a48{
 width:600px;
 display:none;overflow:hidden;
 margin:auto;padding:20px; 
 background-color:#fff;
 margin-top: 50px;color:#fff;
 border: 1px solid #fff;
 }
 #a1:target,#a2:target,#a3:target,#a4:target,#a5:target,#a6:target,
 #a7:target,#a8:target,#a9:target,#a10:target,#a11:target,#a12:target,
 #a13:target,#a14:target,#a15:target,#a16:target,#a17:target,#a18:target,
 #a19:target,#a20:target,#a21:target,#a22:target,#a23:target,#a24:target,
 #a25:target,#a26:target,#a27:target,#a28:target,#a29:target,#a30:target,
 #a31:target,#a32:target,#a33:target,#a34:target,#a35:target,#a36:target,
 #a37:target,#a38:target,#a39:target,#a40:target,#a41:target,#a42:target,
 #a43:target,#a44:target,#a45:target,#a46:target,#a47:target,#a48:target{
/* height:150px;
 width:300px;*/
margin-top: 115px;
 background-color:#fff;
 display:block;
 color:#fff;
 font-weight:600;font-size:18px;
 }
 .botoninscribirse{
 text-decoration:none;
 display:block;
 border:1px solid gray;
 width:250px;text-align:center;
 margin:auto;padding:8px 0px 8px 0px;
 font-size:30px;border-radius:30px;
 }
 .botoninscribirse:hover{
 background-color:gray;color:#fff;
 }
 .contact_emails img{
 width:500px;margin-top:27px;}
 .paginarecintos img{margin-bottom:7px;float:left;}
 .fondonaranja{width:1500px;height:750px;background-color:rgba(103,172,74,.5);border-radius:400px 0px 0px 0px;padding-left:20px !important;}
 .fondonaranja1{width:1500px;height:750px;background-color:rgba(239,142,0,.8);border-radius:400px 0px 0px 0px;margin-left:20px;}
 .txto_dep{
     color: #000040;
    float: left;
    font-size: 11.5px !important;
    line-height: 15px;
    margin-top: 10px;
    text-align: justify;
     padding: 13px;
 }
 .titulo_dep{
   border-bottom: 1px solid;
    color: #000040;
    font-size: 31px;
    font-weight: bold;
    margin-top: 0;
 }